@layout('layouts/main')
@set('title', 'Home page')

@section('body')

<div class="about">
  <h2 class='text-4xl'>About Seoul_Buckety</h2>

  <p>Things to do in Seoul</p>
  <p>Recommended and voted up by our community</p>
  
  
 
</div>

@end