@layout('layouts/main')
@set('title', 'Most Popular Things to do')

@section('things')

<h1>POPular PARTIAL 1 <span class="label">Normal</span></h1>
<h2>Test Popular 2 <span class="label success">Success</span></h2>
@end